ENVIRONMENT="dev"   # can be "dev" | "prod" | "staging"

# Logger
DEBUG=false
LOG_TO_FILE=true

# Redis
REDIS_CONFIG__REDIS_HOST=
REDIS_CONFIG__REDIS_PORT=
REDIS_CONFIG__REDIS_DB=
REDIS_CONFIG__REDIS_USERNAME=
REDIS_CONFIG__REDIS_PASSWORD=

# Frontend URL
FRONTEND_URL=http://localhost:3000